@use '../utils';

.str-chat__channel-search {
  .str-chat__channel-search-bar {
    @include utils.flex-row-center;
    padding: var(--str-chat__spacing-2_5);

    .str-chat__channel-search-bar--menu-button {
      @include utils.button-reset;
      padding: var(--str-chat__spacing-2_5);
      cursor: pointer;
    }

    .str-chat__channel-search-input--wrapper {
      display: flex;
      align-items: center;
      flex: 1;
      padding: var(--str-chat__spacing-2_5);

      .str-chat__channel-search-input--icon,
      .str-chat__channel-search-input--clear-icon {
        padding: 0 var(--str-chat__spacing-2_5);
      }

      .str-chat__channel-search-input--clear-icon {
        cursor: pointer;
      }

      input {
        flex: 1;
      }
    }
  }
}

.str-chat__channel-search-result-list {
  .str-chat__channel-search-result {
    @include utils.button-reset;
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: var(--str-chat__spacing-2);
    padding: var(--str-chat__spacing-3) var(--str-chat__spacing-2);
  }
}

