@use '../utils';

@mixin channel-preview-layout {
  // & selector is required for the postcss-logical plugin to properly transform the logical properties
  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & {
    display: flex;
    column-gap: var(--str-chat__spacing-2);
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: var(--str-chat__spacing-3) var(--str-chat__spacing-2);
    margin: 0;
    text-align: start;
  }
}

@mixin channel-preview-end-layout {
  // & selector is required for the postcss-logical plugin to properly transform the logical properties
  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & {
    display: flex;
    flex-direction: column;
    row-gap: var(--str-chat__spacing-0_5);
    width: 100%;
  }
}

.str-chat__channel-preview {
  @include channel-preview-layout;
  cursor: pointer;

  .str-chat__channel-preview-end {
    @include channel-preview-end-layout;
    overflow-x: hidden; // need this for ellipsis text to work

    .str-chat__channel-preview-end-first-row {
      display: flex;
      align-items: center;
      height: var(
        --channel-name-height,
        1rem
      ); // Ensure that unread badge won't push container height causing an unwanted layout shift

      .str-chat__channel-preview-unread-badge {
        height: 100%;
        display: flex;
        align-items: center;
        padding: var(--str-chat__spacing-2);
      }

      .str-chat__channel-preview-messenger--name {
        width: 100%;
      }
    }

    .str-chat__channel-preview-messenger--name,
    .str-chat__channel-preview-messenger--last-message {
      @include utils.ellipsis-text;
    }
  }
}

.str-chat__channel-preview-loading {
  @include channel-preview-layout;

  .str-chat__channel-preview-end-loading {
    @include channel-preview-end-layout;
  }

  .str-chat__loading-channels-username {
    height: calc(var(--str-chat__spacing-px) * 16);
    width: calc(var(--str-chat__spacing-px) * 66);
  }

  .str-chat__loading-channels-status {
    height: calc(var(--str-chat__spacing-px) * 16);
    width: 100%;
  }
}
