@use '../utils';

.str-chat {
  --str-chat__channel-font-family: var(--str-chat__font-family);
  --str-chat__channel-border-radius: 0;
  --str-chat__channel-color: var(--str-chat__text-color);
  --str-chat__channel-background-color: var(--str-chat__background-color);
  --str-chat__channel-box-shadow: none;
  --str-chat__channel-border-block-start: none;
  --str-chat__channel-border-block-end: none;
  --str-chat__channel-border-inline-start: none;
  --str-chat__channel-border-inline-end: none;
  --str-chat__channel-empty-indicator-color: var(--str-chat__disabled-color);
  --str-chat__channel-empty-color: var(--str-chat__text-low-emphasis-color);
  --str-chat__channel-loading-state-color: var(--str-chat__disabled-color);
}

.str-chat__channel {
  @include utils.component-layer-overrides('channel');
}

.str-chat__empty-channel {
  @include utils.component-layer-overrides('channel');
  @include utils.empty-theme('channel');

  .str-chat__empty-channel-text {
    color: var(--str-chat__channel-empty-color);
  }
}

.str-chat__loading-channel {
  @include utils.loading-animation;

  .str-chat__loading-channel-header {
    background-color: var(--str-chat__channel-header-background-color);

    .str-chat__loading-channel-header-avatar {
      @include utils.loading-item-background('channel');
      border-radius: var(--str-chat__avatar-border-radius);
    }

    .str-chat__loading-channel-header-name,
    .str-chat__loading-channel-header-info {
      @include utils.loading-item-background('channel');
      border-radius: var(--str-chat__border-radius-xs);
    }
  }

  .str-chat__loading-channel-message-list {
    background-color: var(--str-chat__message-list-background-color);

    .str-chat__loading-channel-message-avatar,
    .str-chat__loading-channel-message-sender,
    .str-chat__loading-channel-message-text,
    .str-chat__loading-channel-message-date {
      @include utils.loading-item-background('channel');
      border-radius: var(--str-chat__avatar-border-radius);
    }
  }

  .str-chat__loading-channel-message-input-row {
    .str-chat__loading-channel-message-input,
    .str-chat__loading-channel-message-send {
      @include utils.loading-item-background('channel');
      border-radius: var(--str-chat__border-radius-circle);
    }
  }
}
