.str-chat__dialog__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .str-chat__form-field-error {
    margin-left: 0.5rem;
  }
}

.str-chat__form__switch-field {
  width: 100%;
  padding: 1rem;

  input[type='checkbox'] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .str-chat__form__switch-field__switch {
    display: flex;
    align-items: center;
    width: calc(var(--str-chat__spacing-px) * 52);
    height: calc(var(--str-chat__spacing-px) * 32);
    padding: 0.25rem;

    .str-chat__form__switch-field__switch-handle {
      height: 1.5rem;
      width: 1.5rem;
    }

    &.str-chat__form__switch-field__switch--on {
      justify-content: flex-end;
    }
  }
}

.str-chat__dropdown {
  .str-chat__dropdown__open-button {
    width: 100%;
    text-align: start;
  }
}