@use '../utils';

.str-chat {
  // The margin applied to every attachment in the attachment list
  --str-chat__attachment-margin: var(--str-chat__spacing-0_5);
}

.str-chat__attachment-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 0;

  .str-chat__message-attachment--card {
    max-width: calc(var(--message-max-width) - var(--str-chat__attachment-margin));

    .str-chat__message-attachment-card--header {
      position: relative;

      .str-chat__message-attachment-card--caption {
        position: absolute;
        inset-block-end: 0;
        inset-inline-start: 0;
        padding: var(--str-chat__spacing-2) var(--str-chat__spacing-3) calc(var(--str-chat__spacing-px) * 3) var(--str-chat__spacing-2);
      }
    }

    .str-chat__message-attachment-card--text {
      @include utils.ellipsis-text();
    }
  }

  .str-chat__message-attachment--image,
  .str-chat__message-attachment-card--header,
  .str-chat__message-attachment--video {
    display: flex;

    img,
    video {
      max-width: calc(var(--message-max-width) - 2 * var(--str-chat__attachment-margin));
      max-height: var(--message-max-width);
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .str-chat__message-attachment--image {
    margin: var(--str-chat__attachment-margin);

    img {
      cursor: zoom-in;
    }
  }

  .str-chat__message-attachment--video {
    margin: var(--str-chat__attachment-margin);
  }

  .str-chat__message-attachment--giphy {
    margin: var(--str-chat__attachment-margin);
  }

  .str-chat__gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    gap: var(--str-chat__spacing-0_5);
    max-width: var(--message-max-width);
    max-height: var(--message-max-width);
    margin: var(--str-chat__attachment-margin);

    &.str-chat__gallery-two-rows {
      grid-template-rows: 50% 50%;
      aspect-ratio: 1;
    }

    .str-chat__gallery-image {
      padding: 0;
      margin: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: zoom-in;
      }
    }

    .str-chat__gallery-placeholder {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: top left;
      background-repeat: no-repeat;
      margin: 0;
      cursor: zoom-in;

      p {
        position: relative;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }
  }

  .str-chat__message-attachment-file--item,
  .str-chat__message-attachment-audio-widget {
    @include utils.flex-row-center;
    padding: var(--str-chat__spacing-2);
    column-gap: var(--str-chat__spacing-4);
    margin: var(--str-chat__attachment-margin);

    .str-chat__message-attachment-file--item-text,
    .str-chat__message-attachment-audio-widget--text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      row-gap: var(--str-chat__spacing-0_5);
      min-width: 0;

      .str-chat__message-attachment-file--item-first-row,
      .str-chat__message-attachment-audio-widget--text-first-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: var(--str-chat__spacing-2);

        .str-chat__message-attachment-file--item-name,
        .str-chat__message-attachment-audio-widget--title {
          @include utils.ellipsis-text;
          min-width: 0;
        }

        .str-chat__message-attachment-download-icon {
          svg {
            width: calc(var(--str-chat__spacing-px) * 24);
            height: calc(var(--str-chat__spacing-px) * 16);
          }
        }
      }
    }
  }

  .str-chat__message-attachment-file--item {
    .str-chat__file-icon {
      width: calc(var(--str-chat__spacing-px) * 34);
    }
  }

  .str-chat__message-attachment-audio-widget {
    .str-chat__message-attachment-audio-widget--play-controls {
      @include utils.flex-row-center();
    }

    .str-chat__message-attachment-audio-widget--progress-track {
      width: 120px;
    }

    .str-chat__message-attachment-audio-widget--text-second-row {
      display: flex;
      align-items: center;
      grid-column-gap: 20px;
      padding-top: var(--str-chat__spacing-2_5);

      .str-chat__message-attachment-file--item-size {
        line-height: calc(var(--str-chat__spacing-px) * 14);
      }
    }
  }

  .str-chat__message-attachment-audio-widget--progress-track {
    position: relative;
    height: 2px;
    flex: 1;

    .str-chat__message-attachment-audio-widget--progress-indicator {
      position: absolute;
      inset-inline-start: 0;
      height: 2px;
    }
  }

  .str-chat__message-attachment-audio-widget--play-button {
    @include utils.flex-row-center();
    height: calc(var(--str-chat__spacing-px) * 36);
    width: calc(var(--str-chat__spacing-px) * 36);
    cursor: pointer;
    z-index: 1;

    svg {
      width: var(--str-chat__spacing-3);
    }
  }

  .str-chat__message-attachment-card {
    min-width: 0;
    margin: var(--str-chat__attachment-margin);

    .str-chat__message-attachment-card--content {
      padding: var(--str-chat__spacing-2_5);

      .str-chat__message-attachment-card--title {
        @include utils.ellipsis-text;
      }
    }
  }

  .str-chat__message-attachment-card--audio {
    .str-chat__message-attachment-card--content {
      padding: 0;

      .str-chat__message-attachment-card-audio-widget {
        display: flex;
        flex-direction: column;
        row-gap: var(--str-chat__spacing-2_5);
        width: 100%;
        padding: var(--str-chat__spacing-2);

        .str-chat__message-attachment-card-audio-widget--first-row {
          display: flex;
          align-items: center;
          column-gap: calc(var(--str-chat__spacing-px) * 14);
        }
      }
    }
  }

  .str-chat__message-attachment-actions {
    .str-chat__message-attachment-actions-form {
      display: flex;
      justify-content: stretch;

      .str-chat__message-attachment-actions-button {
        cursor: pointer;
        width: 100%;
        padding: var(--str-chat__spacing-3) var(--str-chat__spacing-4);
        white-space: nowrap;
      }
    }
  }

  .str-chat__message-attachment-with-actions.str-chat__message-attachment--giphy {
    .str-chat__message-attachment-card {
      .str-chat__message-attachment-card--content {
        display: none;
      }
    }
  }
}

.str-chat__quoted-message-preview {
  /* stylelint-disable-next-line length-zero-no-unit */
  --str-chat__attachment-margin: 0px;

  .str-chat__message-attachment-card {
    .str-chat__message-attachment-card--caption,
    .str-chat__message-attachment-card--content {
      display: none;
    }
  }

  .str-chat__message-attachment-file--item {
    padding: 0;

    .str-chat__message-attachment-file--item-download {
      display: none;
    }
  }
}

.str-chat__attachment-list-angular-host {
  min-width: 0;
}
