.str-chat__message {
  .str-chat__attachment-list-angular-host {
    .str-chat__modal--open {
      .str-chat__modal__inner {
        height: 80%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

.stream-chat-angular__image-modal-host {
  .str-chat__modal__inner {
    max-width: 80%;
  }
}

.str-chat__image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  max-height: 100%;

  .str-chat__image-carousel-stepper {
    padding: 8px;
    border: none;
    cursor: pointer;
    background: transparent;
  }

  .str-chat__image-carousel-image {
    object-fit: cover;
    min-height: 0;
    max-height: 100%;
    min-width: 0;
    max-width: 100%;
  }
}
