@mixin flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis-text {
  white-space: nowrap;
  overflow-y: visible;
  overflow-x: clip;
  text-overflow: ellipsis;
}

@mixin component-layer-overrides($component-name) {
  // & selector is required for the postcss-logical plugin to properly transform the logical properties
  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & {
    background-color: var(--str-chat__#{$component-name}-background-color);
    color: var(--str-chat__#{$component-name}-color);
    font-family: var(--str-chat__#{$component-name}-font-family);
    box-shadow: var(--str-chat__#{$component-name}-box-shadow);
    border-radius: var(--str-chat__#{$component-name}-border-radius);
    border-block-start: var(--str-chat__#{$component-name}-border-block-start);
    border-block-end: var(--str-chat__#{$component-name}-border-block-end);
    border-inline-start: var(--str-chat__#{$component-name}-border-inline-start);
    border-inline-end: var(--str-chat__#{$component-name}-border-inline-end);
  }
}

@mixin cta-button-overrides($component-name) {
  &:active {
    background-color: var(--str-chat__#{$component-name}-pressed-background-color);
  }

  &:disabled {
    background-color: var(--str-chat__#{$component-name}-disabled-background-color);
    color: var(--str-chat__#{$component-name}-disabled-color);
  }
}
