@use '../utils';

.str-chat {
  --str-chat__message-notification-font-family: var(--str-chat__font-family);
  --str-chat__message-notification-background-color: var(--str-chat__primary-color);
  --str-chat__message-notification-color: var(--str-chat__on-primary-color);
  --str-chat__message-notification-box-shadow: none;
  --str-chat__message-notification-border-radius: 50px;
  --str-chat__message-notification-border-block-start: none;
  --str-chat__message-notification-border-block-end: none;
  --str-chat__message-notification-border-inline-start: none;
  --str-chat__message-notification-border-inline-end: none;
}

.str-chat__message-notification {
  @include utils.component-layer-overrides('message-notification');
  font-size: 0.75rem;
  cursor: pointer;
}

.messaging.str-chat {
  .str-chat__list-notifications {
    background: var(--str-chat__on-primary-color);
  }
  @media screen and (max-width: 960px) {
    .str-chat__list-notifications {
      padding: 0 var(--str-chat__spacing-2);
    }
  }

  &.dark .str-chat__list-notifications {
    background: var(--str-chat__on-primary-color);
  }
}
