.str-chat__list-notifications {
  padding: 0 var(--xl-p);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.str-chat__message-notification {
  display: block;
  position: absolute;
  align-self: center;
  padding: var(--str-chat__spacing-1) var(--str-chat__spacing-2);
  bottom: calc(var(--str-chat__spacing-px) * 10);
  z-index: 101;
}

.messaging .str-chat {
  .str-chat__list-notifications {
    background: var(--white);
  }
  @media screen and (max-width: 960px) {
    .str-chat__list-notifications {

      padding: 0 var(--xs-p);

    }
  }

  &.dark .str-chat__list-notifications {
    background: var(--white5);
  }
}
