.str-chat {
  --str-chat-thread-list-border-color: var(--str-chat__surface-color);
  --str-chat-thread-list-container-background-color: var(--str-chat__secondary-background-color);

  --str-chat-unseen-threads-banner-background-color: var(--str-chat__text-color);
  --str-chat-unseen-threads-banner-color: var(--str-chat__opaque-surface-text-color);

  --str-chat-thread-list-item-background-color-default: var(--str-chat__secondary-background-color);
  --str-chat-thread-list-item-background-color-selected: var(--str-chat__surface-color);

  --str-chat-thread-list-item-text-color: var(--str-chat__text-color);
  --str-chat-thread-list-item-text-low-emphasis-color: var(--str-chat__text-low-emphasis-color);

  --str-chat-thread-list-empty-placeholder-background-color: var(
    --str-chat__secondary-background-color
  );
  --str-chat-thread-list-empty-placeholder-color: var(--str-chat__text-low-emphasis-color);
}

.str-chat__thread-list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--str-chat-thread-list-container-background-color);
}

.str-chat__unseen-threads-banner {
  font-size: 16px;
  font-weight: 400;

  margin: 8px;
  border-radius: 16px;
  padding: 16px;
  background: var(--str-chat-unseen-threads-banner-background-color);
  color: var(--str-chat-unseen-threads-banner-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    --str-chat-icon-color: var(--str-chat-unseen-threads-banner-color);
    --str-chat-icon-width: 16px;
    --str-chat-icon-heigh: 22px;
  }
}

.str-chat__thread-list {
  --str-chat-icon-color: var(--str-chat-thread-list-item-text-color);

  border-right: 1px solid var(--str-chat-thread-list-border-color);
  color: var(--str-chat-thread-list-item-text-color);

  .str-chat__thread-list-item {
    border: none;
    align-items: stretch;
    box-sizing: border-box;
    padding-block: 14px;
    padding-inline: 8px;
    gap: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--str-chat-thread-list-item-background-color-default);

    &[aria-selected='true'] {
      background-color: var(--str-chat-thread-list-item-background-color-selected);

      .str-chat__thread-list-item__parent-message-text,
      .str-chat__thread-list-item__latest-reply-text-and-timestamp {
        color: inherit;
      }
    }

    .str-chat__thread-list-item__channel {
      --str-chat-icon-height: 14px;
      --str-chat-icon-width: 14px;

      display: flex;
      gap: 5px;

      .str-chat__icon {
        margin-top: 2px;
        flex-shrink: 0;
      }
    }

    .str-chat__thread-list-item__thread-status-symbol {
      font-size: 14px;
      line-height: 1;
    }

    .str-chat__thread-list-item__channel-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
    }

    .str-chat__thread-list-item__parent-message {
      display: flex;
      gap: 3px;
      justify-content: space-between;
      align-items: center;
      height: 15px;
    }

    .str-chat__thread-list-item__parent-message-text {
      font-size: 12px;
      font-weight: 400;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--str-chat-thread-list-item-text-low-emphasis-color);
    }

    .str-chat__thread-list-item__latest-reply {
      display: flex;
      align-items: center;
      gap: 5px;

      --str-chat__avatar-size: 49px;
      --str-chat__avatar-background-color: var(--str-chat__secondary-surface-color);
      --str-chat__avatar-color: var(--str-chat__text-low-emphasis-color);
    }

    .str-chat__thread-list-item__latest-reply-details {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 4px;
      width: 0;
    }

    .str-chat__thread-list-item__latest-reply-created-by {
      display: flex;
      font-weight: 500;
      font-size: 16px;
    }

    .str-chat__thread-list-item__latest-reply-text-and-timestamp {
      display: flex;
      font-size: 14px;
      font-weight: 400;
      justify-content: space-between;
      align-items: baseline;
      line-height: 16px;
      color: var(--str-chat-thread-list-item-text-low-emphasis-color);
    }

    .str-chat__thread-list-item__latest-reply-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .str-chat__thread-list-item__latest-reply-timestamp {
      white-space: nowrap;
    }
  }

  .str-chat__thread-list-loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 14px;
    padding-inline: 8px;
  }
}

.str-chat__thread-list-empty-placeholder {
  --str-chat-icon-height: 95px;
  --str-chat-icon-width: 95px;
  --str-chat-icon-color: var(--str-chat-thread-list-empty-placeholder-color);

  background-color: var(--str-chat-thread-list-empty-placeholder-background-color);
  color: var(--str-chat-thread-list-empty-placeholder-color);
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 16px;
}
