name: Release
on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: Run package release in "dry run" mode (does not publish)
        default: false
        type: boolean

permissions:
  id-token: write  # Required for OIDC
  contents: write
  issues: write
  pull-requests: write

jobs:
  package_release:
    name: Release from "${{ github.ref_name }}" branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Build
        run: >
          yarn run build:ci
      - name: Generate docs
        run: >
          yarn run generate-docs
      - name: Release
        env:
          NPM_TOKEN: ${{ secrets.NPM_AUTOMATION_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          npx semantic-release
          ${{ inputs.dry_run && '--dry-run' || '' }}
